@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpaceMono';
  src: url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../assets/fonts/SpaceMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../assets/fonts/SpaceMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceMono';
  src: url('../assets/fonts/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

:root {
  --primary: #121212;
  --background: #fdfdfd;
}
[data-theme='dark'] {
  --primary: #fdfdfd;
  --background: #121212;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: SpaceMono, Inter, sans-serif;
  color: var(--primary);
  background-color: var(--background);
  min-width: 320px;
  min-height: 100vh;
}
